.btn-outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid !important;
    color: #e91e63 !important;
    font-weight: bold !important;
    background-color: #241746 !important;
    margin-top: 27px;
    margin-left: 69px;
    width: 65%;
    font-family: 'Permanent Marker', cursive !important;
    transition: all 0.1s ;
    position: relative;
    overflow: hidden;

}

.btnTitle {
    font-family: 'Permanent Marker', cursive !important;
    padding: 0 10px;
    margin-left: -4px;
}

.btn-outline:hover {
    border: none !important;
    transform: translateY(-5px);
}

.btn-outline::before {
    content: 'BUY +';
    font-weight: bold;
    color: #e91e63;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg,#b62f99,#241746, #a219cc);
    transform: translateY(-100%);
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline:hover::before {
    transform:  translate(0);
    
}

.card {
    min-width: 15rem !important;
    overflow: hidden;
    border-radius: 7px;
    margin-bottom: 0px ;
}

.card::before {
    content: '';
    position: absolute;
    width: 145px;
    height: 135%;
    background: linear-gradient(#1f2ce4, #ff1865);
    animation: animate 2s linear infinite;
}

.card::after{
    content: '';
    position: absolute;
    background: transparent;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.card .img img {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: -70px;
    margin-top: 2px;
    object-fit: cover;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
    padding-left:3px ;
    pointer-events: none;
}

.card .imgS {
    position: absolute;
    margin-top: -324px !important;
    width: max-content;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

/* .img:hover {
    transform:perspective(250px)
    rotateX(10deg);
}
*/
.img::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    width: 0;
    opacity: 0;
}

.img:hover::before {
    opacity: 1;
}

.card .imgS:hover {
    opacity: 1;
    transform: translateY(10%);
}

.wrapper {
    overflow: hidden !important;
    margin-top: 15%;
    margin-left: 20%;
    max-width: 1100px;
    width: 100%;
}

.wrapper button:first-child {
    left: 22px;
}

.wrapper button:last-child {
    right: -22px;
}

.carousel {
    display: flex;
    height: 100%;
    min-width: 30rem;
}

.carousel .card {
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    justify-content: center;
    padding-right: 3px;
    list-style: none;
    background: transparent;
    cursor: grab;
    border: none;
    width: 900px !important;
}

.carrusel-arrow {
    border-radius: 50px;
    background-color: #382a5e;
    position: absolute;
    border: 0;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 50px;
    transition: all .55s ease;
    cursor: pointer;
    top: 42%;
    font-size: 1.25rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper button {
    transition: all .55s ease;
}

.wrapper .carrusel-next:hover {
    transform: translateX(8px);
}

.wrapper .carrusel-prev:hover {
    transform: translateX(-8px);
}

.carrusel-arrow:focus {
    outline: 0;
}

.carrusel-prev svg {
    margin-left: 15px;
}

.carrusel-next svg {
    margin-left: 17px;
}
.slide__Svg,
.slide__Title {
    color: red !important;
}

.favBtn {
    position: absolute;
    color: white;
    top: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #e91e63;
    margin-left: 165px;
    background-color: #29455c;
    border-radius: 50%;
    transition: all 1s ease;
    z-index: 2;
    overflow: hidden;
}

.favBtn svg {
    position: relative;
    color: #e91e63;
    font-size:  20px;
    z-index: 10000;
    transition: color 0.5s;
}
.favBtn svg:hover {
    color: #e91e63;
}
.favBtn::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: -90px;
    background: linear-gradient(-45deg,#b62f99,#241746, #a219cc);
    position: absolute;
    transition: 0.2s;
}
.favBtn:hover::after{
   right: 0;
}
.favBtn:hover {
    background: #241746;
    transform: translateX(-5px);
    border:  solid 2px rgb(238, 21, 21);
}

/* @media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 3) - 10px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}*/
